@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/*vatiables */
:root {
  /*primary*/
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /*neutral*/
  --background-dark-blue: hsl(217, 54%, 11%);
  --card-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  /* put default font size at 10px */
  font-size: 62.5%;
  height: 100vh;
  font-family: Outfit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100%;
  background-color: var(--background-dark-blue);
}

main {
  z-index: 100;
}

.nft-card {
  background-color: var(--card-dark-blue);
  color: white;
  font-size: 1.4rem;
  max-width: 33rem;
  padding: 25px;
  border-radius: 1.5rem;
  box-shadow: 3rem 5rem 5rem hsl(217, 53%, 8%),
    -3rem 5rem 5rem hsl(217, 53%, 8%);
}

.nft-image-container {
  position: relative;
  max-height: 28rem;
  max-width: 28rem;
  cursor: pointer;
}

.nft-image {
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}

.view-overlay {
  /*we are using hsla becouse we want difrent
   level of opacity on background and view-icon*/
  background-color: hsla(178, 100%, 50%, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  transition: 0.15s;
  border-radius: 0.8rem;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.view-overlay:hover {
  background-color: hsla(178, 100%, 50%, 0.5);
}
.view-overlay:hover .view-icon {
  opacity: 1;
}

.nft-name {
  margin-top: 3rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.15s;
}
.nft-name:hover {
  color: var(--cyan);
}

.nft-description {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: var(--soft-blue);
}

.nft-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.nft-price-container {
  display: flex;
  align-items: center;
}

.etherium-icon {
  height: 1.8rem;
  width: 1.1rem;
}

.nft-price {
  color: var(--cyan);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.7rem;
}

.time-left-container {
  display: flex;
  align-items: center;
}

.icon-clock {
  height: 1.4rem;
  width: 1.4rem;
}

.time-left {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.7rem;
  color: var(--soft-blue);
}

.nft-line {
  color: var(--line-dark-blue);
  margin-top: 1.6rem;
}

.author-info-container {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
}

.author-avatar {
  max-width: 3rem;
  max-height: 3rem;
  background-color: white;
  padding: 0.1rem;
  border-radius: 50%;
}

.author-atribution {
  margin-left: 1.6rem;
  color: var(--soft-blue);
  font-size: 1.5rem;
}

.author-name {
  color: white;
  cursor: pointer;
  transition: 0.15s;
}
.author-name:hover {
  color: var(--cyan);
}

footer {
  position: absolute;
  bottom: 1rem;
  z-index: 0;
}
.attribution {
  color: white;
  font-size: 1.6rem;
}

.attribution a {
  color: var(--cyan);
}
